name: docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docs:
    name: Generate documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name : Install dependencies
        run: sudo apt-get install -y git cmake build-essential doxygen graphviz python3-dev

      - name: Install python dependencies
        run: python -m pip install mkdocs mkdocs-material

      - name: Generate documentation
        working-directory: docs
        run: make all

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: site/

      - name: Deploy documentation
        working-directory: docs
        run: make deploy