name: Build and Publish to test.pypi.org

on:
  release:
    types: [published]
  push:
    branches: ["18-python-bindings"]
  pull_request:
    branches: ["18-python-bindings"]

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull prebuilt image
        run: docker pull ghcr.io/tumftm/pointcloudcrafter:latest

      - name: Build wheel using image
        run: |
          docker run --rm \
            --entrypoint /bin/bash \
            -v "$PWD:/ros_ws" \
            -w /ros_ws \
            ghcr.io/tumftm/pointcloudcrafter:latest \
            -c "
              source /opt/ros/humble/setup.bash

              apt-get update && apt-get install -y python3-pip python3-build
              pip3 install --upgrade pip ninja scikit-build-core auditwheel

              python3 -m build --wheel --no-isolation -Cbuild-dir=/ros_ws/python/build

              LD_LIBRARY_PATH=\$(find /ros_ws/python/build -name '*.so*' -exec dirname {} + | sort -u | tr '\n' ':'):\$LD_LIBRARY_PATH \
              auditwheel repair /ros_ws/dist/*.whl -w /ros_ws/dist/auditwheel/

              pip3 install --force-reinstall /ros_ws/dist/auditwheel/*.whl
              pointcloudcrafter-file --help
              pointcloudcrafter-rosbag --help
            "

  publish_pypi:
    name: Publish to PyPI
    needs: [build_wheel]
    # if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-latest
    
    environment: testpypi
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: pypi-wheel
          path: dist/auditwheel

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/auditwheel/
